body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header{
    background-color: brown;
    color: white;
    text-align: center;
    padding: 20px;
}

nav a{
    color: white;
    margin: 10px;
    text-decoration: none;
}
main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10%;
}
.col{
    width: 48%;
    margin: 5%;
}

.contenido{
    text-align: center;
    padding: 20px;
}

.servicios{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card{
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
    width: 150px;
    text-align: center;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}